<h1>Listando Anúncios</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @ads.model.human_attribute_name('created_at') %></th>
      <th><%= @ads.model.human_attribute_name('picture') %></th>
      <th><%= @ads.model.human_attribute_name('title') %></th>
      <th><%= @ads.model.human_attribute_name('category') %></th>
      <th><%= @ads.model.human_attribute_name('price') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
    <tr>
      <th scope="row"><%= l(ad.created_at.to_date) %></th>
      <td><%= image_tag ad.picture(:thumb) %></td>
      <td><%= ad.title %></td>
      <td><%= ad.category.description %></td>
      <td><%= humanized_money_with_symbol ad.price %></td>
      <td>
        <%= link_to edit_site_profile_ad_path(ad), class:"btn btn-primary btn-sm" do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end -%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>